*{font-family: 'Poppins', sans-serif;box-sizing: border-box;padding: 0;margin:0;}
		.banner{background-color: #87850f;}
		.container-fluid{width: 85%;margin: auto;padding:100px 0px; }
		.row{background-color: white}
		.garelick{padding-bottom: 50px;}
		.picTitle{position: absolute;top:0;bottom: 0;left: 0;right: 0;font-size: 50px;font-weight: 600;display: flex;justify-content: center;align-items: center;}
		
		.read:hover{background-color:#87850f;transition: .5s;font-weight: 500;border: none;}
		.headTitle1{font-size:38px;font-weight: 600;}
		
		.about{padding-bottom: 70px;}
		.field{padding-bottom: 70px}
		.fourImages{padding-bottom: 50px}
		.Title1{font-size:45px; line-height: 50px;font-weight: 600}
		.Title2{font-size: 17px;font-weight: normal;line-height: 30px}
		.order{padding-bottom: 50px}
		.order_1{background-color:#4d4f12}
		.carousel-item .container{background-color: white;width: 90%;margin-top: 50px}
		.carousel-item h2{padding-top: 30px;color: #4d4f12}
		.carousel-item p{padding-top: 10px;line-height: 30px}
		.carousel-inner{padding: 50px 0px}

		.test{padding: 0px 20px;font-size: 17px;text-align-last:center; }
		.carousel-indicators li {border-radius: 50%;width: 20px;height: 20px;}
		.carousel-indicators li:hover {background-color: #ffc107}
		.footer{padding: 0px 100px;padding-bottom: 20px}
		.footerTitle{color: #4d4f12;font-size: 48px}
		.footerTitle2{line-height: 28px}
		.base{background-color: #313130;font-size: 20px;color: white;}



		@media screen and (min-width:476px) and (max-width: 1350px)
		{
		.container-fluid{width: 97%;background-color:;margin: auto;padding:15px 20px;}
		.headTitle1{font-size:33px;font-weight: 600;}
		
		}
		@media screen and (min-width:476px) and (max-width: 576px)
		{
			.fourImg img{padding-left: 15px}
			.headTitle1{font-size: 40px;font-size: 500;width: 90%;}
			.picTitle{font-size: 35px;font-weight: 500;}
			.field2{order:1}
			.field1{order:2}
			.order_2{order: 2}
			.order_1{order: 1}
		}
		@media screen and (min-width:476px) and (max-width: 992px)
		{
			.logo{display: block;margin: auto;}
			.footer{padding: 0px 10px}
			.footerTitle{font-size: 30px}
			.picData{padding-top: 50px}


		}
		@media screen and (min-width:768px) and (max-width: 1200px)
		{
			.Title1{font-size:35px; line-height: 50px;font-weight: 600}
			.Title2{font-size: 15px;font-weight: normal;}


		}